body {
	font-family: 'Roboto', sans-serif !important;	
	background:#fff !important
}
input:focus,
textarea:focus,
select:focus,
button:focus,
.btn:focus, 
.btn.focus{
  outline: 0;
  box-shadow: none !important;
}
h3 {
	font-size: 24px !important;
	font-weight: 700 !important;
}
h4 {
	font-size: 18px !important;
}
h6 {
	font-size: 14px !important;
}
a:hover {
	color:#bb2121;
	text-decoration: none !important;
}
.font-lato {
	font-family: 'Lato', sans-serif !important;	
}
/*** new CSS ***/
input[type='radio'].radio-red {
	-webkit-appearance:none;
	width:18px;
	height:18px;
	border:1px solid #ccc;
	border-radius:50%;
	outline:none;
	box-shadow:0 0 5px 0px gray inset;
	margin-right: 15px
}

input[type='radio'].radio-red:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio'].radio-red:before {
  content:'';
  display:block;
  width:100%;
  height:100%;
  margin: 0 auto;    
  border-radius:50%;    
}
input[type='radio'].radio-red:checked:before {
  background:#bb2121;
}
.notice {
    padding: 20px !important;
    background-color:#ede3e2;
    border: 1px solid rgba(213,188,194,.2);
    margin: 2rem 1rem !important;
}

.custom-file-label.dashed-lines {
    border: 1px dashed #b8b8b8 !important;
}
#field {
    margin-bottom:10px;
	overflow: hidden;
    clear: both;
}
.mb-10 {
	margin-bottom: 100px !important;
}
.mt-10 {
	margin-top: 100px !important;
}
.btn-style-1 {
    background: #c66668; /* Old browsers */
    background: -moz-linear-gradient(top, #c66668 1%, #b25e5e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c66668 1%,#b25e5e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c66668 1%,#b25e5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c66668', endColorstr='#b25e5e',GradientType=0 ); /* IE6-9 */
    width: 100%;
    color:#fff !important;
    font-size: 13px !important;
}
.btn-style-1:hover {
    color:#fff !important;
    cursor: pointer;
    background: #b25e5e; /* Old browsers */
    background: -moz-linear-gradient(top, #b25e5e 0%, #c66668 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b25e5e 0%,#c66668 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b25e5e 0%,#c66668 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b25e5e', endColorstr='#c66668',GradientType=0 ); /* IE6-9 */
}
.btn-style-1.btn-enabled {
    background: #7fb448 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #7fb448 0%, #6a964c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7fb448 0%,#6a964c 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7fb448 0%,#6a964c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb448', endColorstr='#6a964c',GradientType=0 ); /* IE6-9 */
}
.btn-style-1.btn-enabled:hover {
    background: #6a964c !important; /* Old browsers */
    background: -moz-linear-gradient(top, #6a964c 0%, #7fb448 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6a964c 0%,#7fb448 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6a964c 0%,#7fb448 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a964c', endColorstr='#7fb448',GradientType=0 ); /* IE6-9 */
}
.btn.add-more{
	border-radius: 0 !important;
	cursor: pointer;
	background:#a44247;
}
.btn.remove-item {
	cursor: pointer;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.btn.remove-item {
	background:#5b5b5b;
	color:#fff;
}
.btn-danger.remove-me {
	background:#5b5b5b !important;
}
.btn.add-more:hover, .btn.remove-item:hover {
	background: #171717 !important;
}
.btn.declare-bo {
	background:#c66668;
	color:#fff;
	font-size:12px;
	padding: 0 20px 0 45px;
	text-align:center;
	height: 40px;
	line-height: 40px;
}
.btn.declare-bo:hover {
	background:#b15e5e;
}
.btn.declare-bo:before {
    content: "\f2bd";
	font: normal normal normal 14px/1 FontAwesome;
	left: 33px;
    position: absolute;
    top: 13px;
    font-size: 16px;
}
.proposed-company-item {
	padding: 0 15px;
}
.proposed-company-alert {
	color:#B90D0F
}
input[type="text"].input-proposed {
	flex-grow:2;
	height: 40px;
	display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #eff1f0;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #eff1f0;
    -webkit-border-radius: 1px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius: 1px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-radius: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.section-header {
	color:#fff;
	padding:10px 0;
}
.border-bottom {
	border-bottom: 1px solid #666
}
.border-bottom-2 {
	border-bottom: 1px solid #e0e0e0
}

.color-red {
	color:#bb2121
}
.color-pale-red {
	color:#cb6363
}
.form-group label.custom-file-upload-button {
	color:#fff
}
input[type="file"].btn-upload-chart {
    display: none;
}
.input-group-addon.date-picker {
	background:#fff;
	color:#585858;border-color: #fff
}
.modal-header {
	background:#cb6363;
	color:#fff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-content {
	border:0 !important;
	border-radius: 5px !important;
}
.modal-content .form-group .col-form-label {
	color:#585858;
}
.modal-header .close {
	cursor: pointer
}
.modal-header button.close {
	color:#fff;
	opacity: 1 !important
}
.modal-header button.close:hover {
	color:#741515;
	opacity: 1 !important
}
.rounded-border-top {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 0px;
}
.background-grey-1 {	
	background: #585858;
}
.background-grey-2 {
	background:#e0e0e0;
}
.background-grey-3 {
	background:#d8d8d8;
}
.background-pale-pink {
	background:#cb6364
}
.input-group .form-control:not(:first-child) {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px !important;
}
.btn {
	font-family: 'Lato', sans-serif !important;	
}
.text-grey {
	  color: #666666;
}
.popup-close {
	display: inline-block;
    font-size: 1.6rem !important;
    line-height: 25px;
    vertical-align: middle;
    cursor: pointer;
    color: #832f30;
    text-align: center;
    position: absolute;
    right: 19px;
    bottom: 25px;
}
.popup-close:hover {
	color:#fff
}
#mainNav {
	background:#fff;
	padding: 25px 0;	
}
.bg-header {
	background:#424343
}
.bg-header h1 {
	font-size: 28px;
	padding: 25px 0;
}
.bg-intro {
	background:#e9e9e9;
	border-bottom: 1px solid #e9ecef;
	margin-bottom: 2rem;
	padding: 1.5rem;
}
.cdd-download {
	background:#bb2121;
	color:#fff;
	transition: all 0.3s ease 0s;
}
.cdd-download:before {
    font-family: FontAwesome;
    content: "\f1c1";
    margin-right: 10px;
    font-size: 28px;
    line-height: 40px;
    vertical-align: middle;	
}
.cdd-download:hover {
	color:#fff;
	background:#a50505;
}
.form-control, .custom-select {	
        border:1px solid #eff1f0;
	box-sizing: border-box;
	font-size: 16px !important;
    color:#666666 !important;
	padding: 8px 10px !important;
}
.jumbotron {
    padding: 2rem 2rem;
}

.tooltip-inner{
	max-width: 550px !important;
	text-align: left;
	padding: 10px;
}

.show-service-address, 
.show-own-address {
	display: none;
	margin-top: 10px;
}

.site-footer {
  background: #1f1f1f;
  color: #666;
  padding-bottom: 20px;
}
.site-footer a {
    color: #666;
    font-weight: 700;
}
.select-w-100 {
	width:100%
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    height: 100%;
}
.chosen-container.chosen-container-single {
	width: 100% !important;
}
.pep-from-w2 {
    line-height: 40px;
    padding: 0 10px;
}
.show-when-not-bo, .show-when-cr, .show-customer-others, .show-when-shareholderpep, .show-when-corporatepep {
	display:none
}
.custom-select.chosen-container-pep-date {
    width: 300px !important; /* or any value that fits your needs */
}
.selectdiv {
  position: relative;
}
.selectdiv:after, .chosen-container-single .chosen-single div:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #fff;
    right: -1px;
    top: 0;
    position: absolute;
    pointer-events: none;
    background: #585858;
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.form-control-error.is-invalid+span, .form-control-success.is-invalid+span {
    color: #ea4335;
}
.form-control-error+span, .form-control-success+span {
    background-repeat: no-repeat;
    background-position: center right .923rem;
    background-size: 1.846rem 1.846rem;
    font-size: 19px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 80px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    pointer-events: none;
}

/* Browse Upload */
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}
.input-group >.custom-file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #495057 !important;
    opacity: 1; /* Firefox */
	
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.0625rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e9eceb;
    border-radius: .25rem;
	display: inline-block;
    margin-bottom: .5rem;
	font-size: 16px !important
}
.custom-radio-label {
	
	font-size: 16px !important
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.0625rem + 2px) - 1px * 2);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #fff;
    content: "Choose File";
    background-color: #585858;
    border-left: 1px solid #e4e7ea;
    border-radius: 0 .25rem .25rem 0;
}
.custom-file-input:lang(en)~.custom-file-label::after {
    content: "\f07c  Choose File";
	font-family: 'FontAwesome', Lato, sans-serif;
    font-size: 13px;
    padding: 0.5rem .75rem;
}
.choose-role, .choose-file, .bo-choose-file {
	display: none
}
.link-pink {
	color:#bd6060;
	font-family: 'FontAwesome', 'Roboto', sans-serif !important;
	font-size: 14px !important
}
.form-check-input {
    margin-top: 12px !important;
    margin-left: 0 !important;
}

.form-control.is-invalid {
	border:1px solid #b91f26 !important;
}
.beneficial-owner-content {
	background: #f4f4f4;
	border:2px solid #cbcbcb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.custom-control-indicator {
top: 11px !important;
}
/* label */
.form-group .col-form-label {
	display: block;
	color: #000;
}
.form-control.form-bg-2, .custom-select.form-bg-2, input[type='text'].form-control.form-bg-2 {
	background:#eff1f0 !important
}
.form-group .required:after{
   color: red;
   content: "*";
   position: absolute;
   margin-left: 3px;
}
.form-group label {
	font-size:17px;
	padding-top: 5px !important;
	color:#666666;
}
label.custom-radio-field {
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    padding: 8px 12px;
    position: relative;
    white-space: nowrap;
}

label.custom-radio-field input[type="radio"] {
    overflow: visible;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

label.custom-radio-field .custom-radio-label::before,
label.custom-radio-field .custom-radio-label::after {
    content: "";
    background-color: #fff;
    border: 5px solid #aaa;
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -0.55rem;
    border-radius: 100%;
}

label.custom-radio-field .custom-radio-label::after {
    background-color: #bb2121;
    border-color: #bb2121;
    display: none;
}

label.custom-radio-field input[type="radio"]:checked + .custom-radio-label {
    font-weight: bold;
}
label.custom-radio-field input[type="radio"]:checked + .custom-radio-label::after {
    display: block;
}
.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #bb2121 !important;
}
/* Buttons */
.btn-add {
	background:#585858;
	color:#fff
}
.btn:focus,
.btn:active {
  box-shadow: none;
}
.btn-next {
	background:#bb2121;	
	border-color: #bb2121;	
	box-shadow: 0 2px 0 0 #880e0e;
	color:#fff;
	cursor: pointer;
	min-width: 248px;
	transition: all 0.3s ease 0s;
	
}
.btn-next:hover {
	background: #930606;
	color:#fff !important;
}

.btn-save {
	background:#787878;
	box-shadow: 0 2px 0 0 #4c4c4c;
	color:#c9c9c9;
	transition: all 0.3s ease 0s;
	margin-right: 20px
}
.btn-save:hover {
	color:#fff !important;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.p-l-0 {
	padding-left: 0 !important;
}
.input-group .form-control {
    width: 100% !important;
}
.mt-40 {
	margin-top: 40px
}
.close {
	text-shadow: none !important
}
.btn-preview {
	background:#bd6060;
	padding: 5px 20px;
	color:#fff;
	font-weight: normal;
	font-size: 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.btn-preview:hover {
	color:#fff !important;
	background:#9d3e3e !important
}
/* Passport */
.passport-scan-copy {
	text-align: center;
    padding: 10px;
    border: 1px solid #d8d8d8 !important;
    height: 280px;
    width: 100% !important;
    background: #555555!important;
    margin-top: 14px;
	overflow: hidden
}
.passport-scan-copy img {
	width: 80%;
}
.border-top-2 {
	height: 3px;
	background:#585858;
	padding: 0 15px;
}

@media only screen and (max-width: 767px) {
	.btn-save {margin-right: 0 !important}
}
